In [1]:
import numpy as np
import pandas as pd

In [2]:
d1 = pd.read_excel("/content/Customerdata_Train.xlsx")
d2 = pd.read_excel("/content/Emaildata_Train.xlsx")
d3 = pd.read_excel("/content/Train.xlsx")
d4 = pd.read_excel("/content/transactionsdata_Train.xlsx")

In [3]:
d1.head()

,CustomerID,City,DateOfRegistration,OnlineCommunication,AutomaticRefill,DoorstepDelivery,PreferredDeliveryDay
0,C16368,CITY2,2012-09-28,0,0,0,Monday
1,C20345,CITY2,2010-12-19,1,1,1,Friday
2,C17683,CITY2,2010-10-03,0,0,0,Wednesday
3,C18647,CITY4,2010-11-27,0,0,0,Monday
4,C36692,CITY2,2009-12-04,1,1,0,Friday

In [4]:
d2.head()

  CustomerID DateOfemail     EmailType timestamp MailOpened    MailClicked
0     C16368  2012-09-28  WelcomeEmail  15:56:50        yes  NotApplicable
1     C20345  2010-12-19  WelcomeEmail  15:10:30        yes  NotApplicable
2     C17683  2010-10-03  WelcomeEmail  17:12:24        yes  NotApplicable
3     C18647  2010-11-27  WelcomeEmail  16:59:02        yes  NotApplicable
4     C36692  2009-12-04  WelcomeEmail  17:27:22        yes  NotApplicable

In [5]:
d3.head()

  CustomerID RetentionPotential
0     C37869                Low
1     C33841                Low
2     C29464                Low
3     C28158                Low
4     C22785               High

In [6]:
d4.head()

  CustomerID DateOfOrder timestamp  OrderQuantity
0     C16368  2013-08-11  15:17:52             15
1     C20345  2011-04-01  19:50:00             92
2     C20345  2012-06-29  15:11:56             95
3     C20345  2012-09-22  20:49:10             74
4     C20345  2011-08-23  11:50:26             81

In [7]:
d2['DateOfemail'] = pd.to_datetime(d2['DateOfemail'], format='%Y-%m-%d')
d2['timestamp'] = pd.to_datetime(d2['timestamp'], format='%H:%M:%S')

In [8]:
d4['DateOfOrder'] = pd.to_datetime(d4['DateOfOrder'], format='%Y-%m-%d')
d4['timestamp'] = pd.to_datetime(d4['timestamp'], format='%H:%M:%S')

In [9]:
df1_dict = dict(zip(d1['CustomerID'], d2['DateOfemail'],))

d1_dict_list = [df1_dict[x]
    for x in d1['CustomerID']
]

d1.insert(2, 'DateOfemail', d1_dict_list)

In [10]:
df1_dict = dict(zip(d1['CustomerID'], d2['timestamp'],))

d1_dict_list = [df1_dict[x]
    for x in d1['CustomerID']
]

d1.insert(3, 'timestamp', d1_dict_list)

In [11]:
df1_dict = dict(zip(d1['CustomerID'], d4['DateOfOrder'],))

d1_dict_list = [df1_dict[x]
    for x in d1['CustomerID']
]

d1.insert(4, 'DateOfOrder', d1_dict_list)

In [12]:
df1_dict = dict(zip(d1['CustomerID'], d2['EmailType'],))

d1_dict_list = [df1_dict[x]
    for x in d1['CustomerID']
]

d1.insert(5, 'EmailType', d1_dict_list)

In [13]:
df1_dict = dict(zip(d1['CustomerID'], d2['MailOpened'],))

d1_dict_list = [df1_dict[x]
    for x in d1['CustomerID']
]

d1.insert(6, 'MailOpened', d1_dict_list)

In [14]:
df1_dict = dict(zip(d1['CustomerID'], d2['MailClicked'],))

d1_dict_list = [df1_dict[x]
    for x in d1['CustomerID']
]

d1.insert(7, 'MailClicked', d1_dict_list)

In [15]:
df1_dict = dict(zip(d1['CustomerID'], d3['RetentionPotential'],))

d1_dict_list = [df1_dict[x]
    for x in d1['CustomerID']
]

d1.insert(8, 'RetentionPotential', d1_dict_list)

In [16]:
df1_dict = dict(zip(d1['CustomerID'], d4['OrderQuantity'],))

d1_dict_list = [df1_dict[x]
    for x in d1['CustomerID']
]

d1.insert(9, 'OrderQuantity', d1_dict_list)

In [17]:
d1.head()

,CustomerID,City,DateOfemail,timestamp,DateOfOrder,EmailType,MailOpened,MailClicked,RetentionPotential,OrderQuantity,DateOfRegistration,OnlineCommunication,AutomaticRefill,DoorstepDelivery,PreferredDeliveryDay
0,C16368,CITY2,2012-09-28,1900-01-01 15:56:50,2013-08-11,WelcomeEmail,yes,NotApplicable,Low,15,2012-09-28,0,0,0,Monday
1,C20345,CITY2,2010-12-19,1900-01-01 15:10:30,2011-04-01,WelcomeEmail,yes,NotApplicable,Low,92,2010-12-19,1,1,1,Friday
2,C17683,CITY2,2010-10-03,1900-01-01 17:12:24,2012-06-29,WelcomeEmail,yes,NotApplicable,Low,95,2010-10-03,0,0,0,Wednesday
3,C18647,CITY4,2010-11-27,1900-01-01 16:59:02,2012-09-22,WelcomeEmail,yes,NotApplicable,Low,74,2010-11-27,0,0,0,Monday
4,C36692,CITY2,2009-12-04,1900-01-01 17:27:22,2011-08-23,WelcomeEmail,yes,NotApplicable,High,81,2009-12-04,1,1,0,Friday

In [18]:
d1.shape

(23820, 15)

In [19]:
d1.nunique()

CustomerID              23820
City                        4
DateOfemail              2673
timestamp               10858
DateOfOrder              1538
EmailType                   1
MailOpened                  1
MailClicked                 1
RetentionPotential          3
OrderQuantity             308
DateOfRegistration       2673
OnlineCommunication         2
AutomaticRefill             2
DoorstepDelivery            2
PreferredDeliveryDay        7
dtype: int64

In [20]:
d1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23820 entries, 0 to 23819
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerID            23820 non-null  object
 1   City                  23820 non-null  object
 2   DateOfemail           23820 non-null  datetime64[ns]
 3   timestamp             23820 non-null  datetime64[ns]
 4   DateOfOrder           23820 non-null  datetime64[ns]
 5   EmailType             23820 non-null  object
 6   MailOpened            23820 non-null  object
 7   MailClicked           23820 non-null  object
 8   RetentionPotential    23820 non-null  object
 9   OrderQuantity         23820 non-null  int64
 10  DateOfRegistration    23820 non-null  datetime64[ns]
 11  OnlineCommunication   23820 non-null  int64
 12  AutomaticRefill       23820 non-null  int64
 13  DoorstepDelivery      23820 non-null  int64
 14  PreferredDeliveryDay  23820 non-null  object
dtypes: datetime64[ns](4), int64(4), object(7)
memory usage: 2.7+ MB

In [21]:
d1.isnull().sum()

CustomerID              0
City                    0
DateOfemail             0
timestamp               0
DateOfOrder             0
EmailType               0
MailOpened              0
MailClicked             0
RetentionPotential      0
OrderQuantity           0
DateOfRegistration      0
OnlineCommunication     0
AutomaticRefill         0
DoorstepDelivery        0
PreferredDeliveryDay    0
dtype: int64

In [22]:
d1.describe()

       OrderQuantity  OnlineCommunication  AutomaticRefill  DoorstepDelivery
count   23820.000000         23820.000000     23820.000000      23820.000000
mean       90.115113             0.660411         0.094710          0.037615
std        46.923645             0.473580         0.292821          0.190268
min         1.000000             0.000000         0.000000          0.000000
25%        58.000000             0.000000         0.000000          0.000000
50%        79.000000             1.000000         0.000000          0.000000
75%       112.000000             1.000000         0.000000          0.000000
max       529.000000             1.000000         1.000000          1.000000

In [23]:
d1.dtypes

CustomerID                      object
City                            object
DateOfemail             datetime64[ns]
timestamp               datetime64[ns]
DateOfOrder             datetime64[ns]
EmailType                       object
MailOpened                      object
MailClicked                     object
RetentionPotential              object
OrderQuantity                    int64
DateOfRegistration      datetime64[ns]
OnlineCommunication              int64
AutomaticRefill                  int64
DoorstepDelivery                 int64
PreferredDeliveryDay            object
dtype: object

In [24]:
d1.drop('CustomerID',inplace=True,axis=1)

In [25]:
d1['City'] = d1['City'].astype('category').cat.codes
d1['EmailType'] = d1['EmailType'].astype('category').cat.codes
d1['MailOpened'] = d1['MailOpened'].astype('category').cat.codes
d1['MailClicked'] = d1['MailClicked'].astype('category').cat.codes
d1['RetentionPotential'] = d1['RetentionPotential'].astype('category').cat.codes
d1['PreferredDeliveryDay'] = d1['PreferredDeliveryDay'].astype('category').cat.codes

In [26]:
d1.dtypes

City                              int8
DateOfemail             datetime64[ns]
timestamp               datetime64[ns]
DateOfOrder             datetime64[ns]
EmailType                         int8
MailOpened                        int8
MailClicked                       int8
RetentionPotential                int8
OrderQuantity                    int64
DateOfRegistration      datetime64[ns]
OnlineCommunication              int64
AutomaticRefill                  int64
DoorstepDelivery                 int64
PreferredDeliveryDay              int8
dtype: object

In [27]:
d1.RetentionPotential.value_counts()

1    19185
0     3756
2      879
Name: RetentionPotential, dtype: int64

In [28]:
d1.RetentionPotential.value_counts(normalize=True)*100

1    80.541562
0    15.768262
2     3.690176
Name: RetentionPotential, dtype: float64

In [29]:
d1.corr()

,City,EmailType,MailOpened,MailClicked,RetentionPotential,OrderQuantity,OnlineCommunication,AutomaticRefill,DoorstepDelivery,PreferredDeliveryDay
City,1.000000,NaN,NaN,NaN,0.005918,-0.004800,0.044251,0.049538,-0.020502,-0.047617
EmailType,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MailOpened,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MailClicked,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RetentionPotential,0.005918,NaN,NaN,NaN,1.000000,-0.004422,0.001463,-0.004230,-0.000406,0.003569
OrderQuantity,-0.004800,NaN,NaN,NaN,-0.004422,1.000000,0.030457,0.000768,0.000996,-0.008259
OnlineCommunication,0.044251,NaN,NaN,NaN,0.001463,0.030457,1.000000,0.176233,0.097039,-0.046521
AutomaticRefill,0.049538,NaN,NaN,NaN,-0.004230,0.000768,0.176233,1.000000,0.185477,-0.038464
DoorstepDelivery,-0.020502,NaN,NaN,NaN,-0.000406,0.000996,0.097039,0.185477,1.000000,-0.041438
PreferredDeliveryDay,-0.047617,NaN,NaN,NaN,0.003569,-0.008259,-0.046521,-0.038464,-0.041438,1.000000

In [30]:
train = d1.sample(frac=0.8,random_state=123)
test = d1.drop(train.index)

In [31]:
print(train.shape)
print(test.shape)

(19056, 14)
(4764, 14)

In [32]:
X_train=train.drop(['RetentionPotential'],axis=1)
y_train=train['RetentionPotential']
X_test=test.drop(['RetentionPotential'],axis=1)
y_test=test['RetentionPotential']

In [33]:
X_train = X_train.values
y_train = y_train.values
X_test = X_test.values
y_test = y_test.values

In [34]:
class KNN:
    def __init__(self, k=3):
        self.k = k
    
    def fit(self, X_train, y_train):
        self.X_train = X_train
        self.y_train = y_train
        
    def predict(self, X_test):
        y_pred = []
        for row in X_test:
            dist = np.sqrt(np.sum((row - self.X_train)**2, axis=1))
            idx = np.argsort(dist)[:self.k]
            labels = self.y_train[idx]
            counts = np.bincount(labels)
            y_pred.append(np.argmax(counts))
        return y_pred

In [35]:
def knn(X_train, y_train, X_test, k):
    knn = KNN(k=k)
    knn.fit(X_train, y_train)
    y_pred = knn.predict(X_test)
    return y_pred

In [38]:
accuracy = sum(y_pred == y_test)/len(y_test)
print(f"Accuracy: {accuracy:.2f}")

NameError: ignored